#MainHero{
    background-image: url(../images/mainhero.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
}
